<!-- <form id="signUpPage">
    <h2> User Registration </h2>
    
    <div class="form-group">
        <input type="text" class="form-control" id="name" placeholder="Name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="lName" placeholder="Last Name">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Enter Email">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="actpwd" placeholder="Enter Password">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="repwd" placeholder="Reenter Password">
    </div>
    <div class="form-group">
        <input type="checkbox" id="check"> Accept Terms & Conditions
    </div>
    <div>
        <button class="btn btn-primary">Register</button>
        <button class="btn btn-secondary" onclick="loadPage('home')">
             << Back To Home </button>
    </div>
    
</form> -->

<ul id="signUpPage">
    <li>
    <h2>User Registration</h2>
    </li>
    <li>
        <input type="text" class="form-control form-control-dark" id="accountId" placeholder="Enter User id">
    </li>
    <li>
        <input type="password" class="form-control form-control-dark" id="password" placeholder="Enter Password">
    </li>
    <li>
        <input type="password" class="form-control form-control-dark" id="repwd" placeholder="Reenter Pasword">
    </li>
    <li>
        <input type="email" class="form-control form-control-dark" name="" id="userMailid" placeholder="Enter email id">
    </li>
    <li>
        <button class="btn btn-primary" onclick="getUserSignup()">Register</button>
        <button class="btn btn-secondary" onclick="loadPage('home')"> << Back To Home</button>
    </li>
</ul>

  

