<div class="card" style="width: 16rem;">
    <img src="{{imageUrl}}" class="card-img-top" alt="..." height="150px">
    <div class="card-body">
        <div class="row name"><span>{{name}}</span></div>
        <div class="row">M.R.P :<span class="actualPrice"> ₹ {{actualPrice}}</span>
            <span class="discountPrice">₹ {{discountPrice}}</span>
        </div>
        <div class="row name"><span>{{manu}}</span></div>
    </div>
    <div class="row" id="{{productId}}" style="position: relative; left: 50px;"></div>
</div>



