<ul id="ForgotPwdPage">
    <span>
        Reset Password
    </span>
    <li>
        <input type="text" class="form-control" placeholder="Enter Current Password" maxlength="8">
    </li>
    <li>
        <input type="password" class="form-control" placeholder="New Password" maxlength="8">
    </li>
    <li>
        <input type="password" class="form-control" placeholder="Confirm Password" maxlength="8">
    </li>
    <button class="btn btn-success" style="margin: 20px auto;">Save</button>
</ul>