<ul class="Sign-up-Page">
    <span>
        User Registration
    </span>
    <li>
        <input type="text" class="form-control" placeholder="enter user account Id" maxlength="15">
    </li>
    <li>
        <input type="password" class="form-control" placeholder="enter account password" maxlength="8">
    </li>
    <li>
        <input type="password" class="form-control" placeholder="re-enter account password" maxlength="8">
    </li>
    <li>
        <input type="text" placeholder="enter user mail id" maxlength="12">
    </li>
    <li>
        <button class="btn btn-primary">Register</button>
        <button class="btn btn-secondary" onclick="SelectedloadPage('home')"><< Back to Home</button>
    </li>
   </ul>