<div class="card" style="width: 16rem;">
    <img class="card-img-top" src="{{imageUrl}}" alt="Card image cap" height="180px">
    <div class="card-body">
      <div class="row">Product Name : {{name}}</div>
      <div class="row">
        <span class="actualPrice" style="text-decoration: line-through red;">₹ {{actualPrice}}</span>
        <span class="discountPrice" style="color: rgb(83, 11, 83); font-weight: bold;">₹ {{discountPrice}}</span>
      </div>
      <div class="row">
        Manufacturer : {{manu}}
      </div>
      <div class="row" id="{{productId}}"></div>
    </div>
  </div>