<div class="procuctDetailsContainer ">
<div class="row">
    <div class="col-md-2" id="leftSideContainer" >
        
            <h3 class="dropdown-header">FilterItems</h3>
            <a class="dropdown-item " href="#">Shoes</a>
            <a class="dropdown-item" href="#">Mobiles </a>
            <a class="dropdown-item" href="#">Sarees</a>
            <a class="dropdown-item" href="#">Hand Bags</a>
            <a class="dropdown-item" href="#">Kurta</a>
            <a class="dropdown-item" href="#">Lap Tops</a>
            <a class="dropdown-item" href="#">Pen drives</a>
            <a class="dropdown-item" href="#">Toys</a>
         
    </div>
    <div class="col-md-9" id="rightsideContent"></div>
</div>
</div>